/* Font Face Declarations */

@font-face {
  font-family: 'Ringbearer';
  src: url('/fonts/ringbearer-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cambria';
  src: url('/fonts/cambria-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Constantia';
  src: url('/fonts/constantia-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mongolian Baiti';
  src: url('/fonts/mongolian-baiti-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url('/fonts/palatino-linotype-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palatino Linotype';
  src: url('/fonts/palatino-linotype-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* CSS Custom Properties for Font Families */
:root {
  --font-fantasy: 'Ringbearer', 'Papyrus', fantasy;
  --font-serif-classic: 'Palatino Linotype', 'Palatino', 'Book Antiqua', serif;
  --font-serif-modern: 'Cambria', 'Georgia', serif;
  --font-serif-elegant: 'Constantia', 'Lucida Bright', serif;
  --font-decorative: 'Mongolian Baiti', 'Times New Roman', serif;
  --font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
